<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Invention</title>
</head>

<body>

<div>
    <h1>Submit the form to add new invention.</h1>
    <form action="/createInvention" method="POST">
        <label for="inv_name">Name of Invention</label>
        <input type="text" id="inv_name" name="name" placeholder="Name of invention">

        <label for="inv_inventor"></label>
        <input type="text" id="inv_inventor" name="inventor" placeholder="Inventor">

        <label for="">"inv_year"</label>
        <input type="integer" id="inv_year" name="year" placeholder="Year of invention">

        <input type="submit" value="Submit">
    </form>
</div>

</body>
</html>