!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Invention</title>
</head>

<body>

<div>
    <h1>Submit the form to change the information.</h1>
    <form action="/updateInvention" method="POST">
        <label for="inv_name">Name of Invention</label>
        <input type="text" id="inv_name" nane="name" value= "<% @invention.name %>" >

        <label for="inv_inventor">Name of Invention</label>
        <input type="text" id="inv_inventor" nane="inventor" value= "<% @invention.inventor %>" >

        <label for="inv_year">Name of Invention</label>
        <input type="text" id="inv_year" nane="year" value= "<% @invention.year %>" >

        <input type="submit" value="Submit">
    </form>
</div>

</body>
</html>